@charset "UTF-8";
*{
	    font-family: "맑은 고딕";
}


/*======== 게시판 디자인 시작 ========*/
.titleBoard {
    padding: 15px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
}
.title > a {
	display: block;
}
.board_view {
	overflow:hidden;
	clear:both;
    margin-bottom: -1px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    display: block;
    padding: 15px;
}
.article > h2 {
	margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    color: #292929;
    margin-bottom: 10px
}
.article > .small {
	margin-bottom: 5px;
    max-height: 30px;
    line-height: 15px;
    white-space: normal;
    overflow: hidden;
    font-size: 12px;
    color: #a6a6a6;
}

.page-main-style-detail {
	margin-bottom: -1px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    background-color: #fff;
}

a.article2 {
    display: block;
    padding: 15px;
}
#addInput {
          display: none;
}
form#search_form {
	border: none;
	display: inline;
}
ul.status {
	margin: 0px;
	padding: 0px;
}
ul.status li.comment {
    padding-left: 15px;
    color: #0ca5af;
    background-image: url(https://everytime.kr/images/new/container.articles.comment.png);
}
ul.status li {
    float: left;
    margin-left: 8px;
    padding: 0 2px;
    height: 20px;
    line-height: 20px;
    color: #a6a6a6;
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px 12px;
    cursor: pointer;
}
ul.status li.vote {
    padding-left: 15px;
    color: #c62917;
    background-image: url(https://everytime.kr/images/new/container.articles.vote.png);
}
/*======== 게시판 디자인 끝 ========*/

/*======== Mypage 추가 시작 ========*/
article img.picture.large {
    margin: 0 10px 15px 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
article img.picture {
    float: left;
}
article div.profile {
    float: left;
    margin-bottom: 15px;
    height: 40px;
}
article div.profile > h3.large {
	margin: 0px;
    height: 20px;
    max-width: 200px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}
article time.large {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
article ul.status {
    float: right;
}
article ul.status > li{
    display: inline;
}
article hr {
    clear: both;
    height: 0;
    border: 0;
}
/*======== Mypage 추가 끝 ========*/

/*============= 수정폼 시작 ==============*/
/*등록,수정폼*/
form{
	margin:0 auto;
}
.board_title {
    width: 100%;
    height: 20px;
    line-height: 20px;
    border: 0;
    color: #292929;
    font-size: 16px;
    font-weight: bold;
    outline:none
}
.board_p {
    padding: 15px;
    margin: 0px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
}
.board_p > textarea {
	width: 100%;
	height: 350px;
    border: 0;
    color: #292929;
    font-size: 14px;
    resize: none;
    outline:none
    
}
/*============= 수정폼 끝 ==============*/

/*============= 글작성폼  ===========*/
.align-left {
	float: left;
	height: 40px;
}
.write_bottom {
	border-top: 1px solid #e3e3e3;
	overflow: hidden;
} 
.tag {
	float:left;
	border:none;
	background-color:white;
	background-image: url(https://everytime.kr/images/new/container.articles.write.hashtag.png);
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.topics {
	padding: 15px 15px 0 15px;
}
.fileUpload {
	display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: 40px 40px;
    background-image: url(https://everytime.kr/images/new/container.articles.write.attach.png);
}
input#anonymous{
  display: none;
}
input#anonymous + label{
	display: inline-block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: url(https://everytime.kr/images/new/container.articles.write.anonym.png);
	background-size: 40px 40px;
}
input#anonymous:checked + label{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url(https://everytime.kr/images/new/container.articles.write.anonym.active.png);
	background-size: 40px 40px;
}
input#anonymous + label span{
	font-size: 15px;
	color: transparent;
}
input.submit {
	float:right;
	color: transparent;
	background:url(https://everytime.kr/images/new/container.articles.write.submit.png);
	background-size: 40px 40px;
	background-color:#c62917;
	width:40px;
	height:40px;
	border: 0;
	cursor: pointer;
}
.direction {
	margin-bottom: 10px;
    font-weight: bold;
    color: #666;
}



/*============= 글작성폼  끝===========*/

/*================ 태그선택 =================*/
.pointer {
	padding: 8px 0 20px 0;
}
.pointer > div {
	display: contents;
}
.pointer > div > span {
	cursor: pointer;
	margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #d6d6d6;
    border-radius: 14px;
}
.pointer > div:active > span, .pointer > div.active > span {
	border: 1px solid #c62917;
	color: #c62917;
    font-weight: bold;
}
p.topics {
    padding-bottom: 10px;
    word-break: keep-all;
}
p.topics input[type="radio"] {
    display: none;
}

/*=================== 검색버튼 디자인 ====================*/
.search_info {
	float:left;
    margin-top: 5px;
    padding: 8px 8px 8px 5px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    background-size: 16px 16px;
    margin-bottom: 20px;
}
.search_info > li {
	margin:0 0 9px 0;
	display: inline;
}
#keyfield {
    margin-right: 5px;
    height: 19px;
    line-height: 19px;
    border: 0;
    color: #737373;
    font-size: 12px;
    background-color: transparent;
}
#keyword {
	height: 19px;
    line-height: 19px;
    border: 0;
    width: 130px;
    color: #292929;
    font-size: 14px;
    background-color: transparent;
}

#submit {
	width:16px;
	height:16px;
	background-color:transparent;
	border:0px transparent solid;
	background: transparent url(https://everytime.kr/images/new/container.articles.pagination.search.png) no-repeat top 2px center;
	background-size: 16px 16px;
	cursor: pointer;
}
#writeBtn {
	float: right;
	margin-top: 4px;
    padding: 0 40px 0 10px;
    height: 40px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: text;
    color: #a6a6a6;
    font-size: 14px;
    background: #f9f9f9 url(https://everytime.kr/images/new/container.write.background.png) no-repeat right center;
    background-size: 40px 40px;
}
#btnOK {
	margin-left: 3px;
}
/*=====================*/

/*======== 페이징 여백 추가 =========*/
#pagenation {
	padding: 20px 0 0 0;
}
/*========= 스타일 초기화 ==========*/

/*============= 체크박스 디자인 ==============*/

#active {
	margin-left: 3px;
	margin-right: 5px;
	color: #666;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox']{
        --active: #c62917;
        --active-inner: #fff;
        --focus: 2px rgba(254, 39, 108, 0.3);
        --border: #e1bbc0;
        --border-hover: #c62917;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #f9e1e5;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 18px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;
    }
    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
    }
    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    input[type='checkbox']:disabled + label,
    input[type='radio']:disabled + label {
        cursor: not-allowed;
    }
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 18px;
    }
    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }
    input[type='checkbox'] + label,
    input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }
    input[type='checkbox']:not(.switch) {
        border-radius: 3px;
        margin-bottom:5px;
    }
    input[type='checkbox']:not(.switch):after {
	width: 4px;
    height: 8px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 5.5px;
    top: 1px;
    transform: rotate(var(--r, 20deg));
    }
    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }
    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: .6;
    }
    input[type='radio'] {
        border-radius: 50%;
    }
    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }
    input[type='radio']:checked {
        --s: .5;
    }
}

/*================= 체크박스 디자인 끝 ==================*/
input:focus {outline:none;}
a {text-decoration: none; color: black;}
.align-right > input[type="button"] {
	border: 0px; 
	background: none;
    padding: 0 2px;
    height: 20px;
    line-height: 20px;
    color: #a6a6a6;
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px 12px;
    cursor: pointer;}
input[type="file"] { /* 파일 필드 숨기기 */ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.submit input[type="submit"] { /* 파일 필드 숨기기 */ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.message-btn {
margin-left: 8px;
}
.message-btn , .blame-btn {
	float:right;
    border: 0px;
    margin-left: 4px;
    background: none;
    padding: 0 3px;
    height: 20px;
    line-height: 20px;
    color: #a6a6a6;
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px 12px;
    cursor: pointer;
}