* {
  margin: 0;
  padding: 0;
}
.wrap {
  height: 430px;
  margin-top: 220px;
}
.line {
  width: 100vw;
}
.left, .right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}
.left {
  color: #c62917;
  -webkit-transform: skew(0deg, -15deg);
          transform: skew(0deg, -15deg);
}
.right {
  color: black;
  -webkit-transform: skew(0deg, 15deg);
          transform: skew(0deg, 15deg);
}
.left .content {
  width: 100vw;
  text-align: center;
}
.right .content {
  width: 100vw;
  text-align: center;
  -webkit-transform: translate(-50vw);
          transform: translate(-50vw);
}
span {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}