@charset "UTF-8";

div#main_body {
    width: 100%;
    padding: 5px 5px 10px 5px;
}

div{
	display: block;
}

input{
	vertical-align: middle;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #666;
    text-decoration: none;
}

h3, p{
	margin: 0;
	padding: 0;
}

#container.lectureindex{
	padding: 0 0 30px 0;
}

#container{
	margin: 0 auto 0 auto;
	width: 100%;
	box-sizing: border-box;
}

#container form.search {
    position: relative;
    padding: 0 8px 8px 8px;
   	width: 50%;
    box-sizing: border-box;
    background-color: #fff;
    border: none;
}
#container form.search input.keyword {
    padding: 12px 20px 12px 20px;
    width: 100%;
    height: 48px;
    line-height: 24px;
    box-sizing: border-box;
    border: 0;
    border-radius: 12px;
    color: #292929;
    font-size: 16px;
    background-color: #f2f2f2;
}

#container form.search input.submit {
    position: absolute;
    right: 8px;
    top: 0;
    width: 48px;
    height: 48px;
    border: 0;
    color: transparent;
    font-size: 0;
    background: transparent url("https://everytime.kr/images/new/aside.search.background.png") no-repeat center center;
    background-size: 40px 40px;
}

#container div.section {
    margin: 0 8px 8px 8px;
    padding: 24px 0 12px 0;
    border: 1px solid #ededed;
    border-radius: 12px;
    box-sizing: border-box;
}

#container div.section h2 {
    display: inline-block;
    margin: 0 16px 12px 16px;
    line-height: 27px;
    color: #292929;
    font-size: 18px;
    font-weight: bold;
}

#container div.section div.mylectures a.lecture {
    position: relative;
    display: block;
    margin: 0 8px;
    border-bottom: 1px solid #f2f2f2;
}

#container div.section div.mylectures a.lecture h3 {
    padding: 12px 0;
    margin: 0 72px 0 8px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#container div.section div.mylectures a.lecture h3 span.name {
    color: #292929;
    font-size: 16px;
}

#container div.section div.mylectures a.lecture h3 span.professor {
    margin-left: 8px;
    color: #a6a6a6;
    font-size: 12px;
}

#container div.section div.mylectures a.lecture h3 span {
    line-height: 24px;
    vertical-align: top;
}

#container div.section div.mylectures a.lecture span.button {
    position: absolute;
    right: 8px;
    top: 12px;
    display: inline-block;
    padding: 0 8px;
    line-height: 24px;
    border-radius: 12px;
    font-size: 12px;
}

#container div.section div.mylectures a.lecture span.button.write {
    color: #fff;
    background-color: #c62917;
}

#container div.section div.reviews a.review {
    position: relative;
    display: block;
    margin: 0 8px;
    padding: 12px 8px;
    border-bottom: 1px solid #ededed;
}

#container div.section div.reviews a.review h3 {
    margin-bottom: 4px;
    line-height: 24px;
    color: #292929;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#container div.section div.reviews a.review p.rate {
    margin-bottom: 4px;
}

#container div.section div.reviews a.review p.rate span.star {
    display: block;
    width: 60px;
    height: 12px;
    background: transparent url("https://everytime.kr/images/app.subject.rating.details.star.off.png") no-repeat left top;
    background-size: 60px 12px;
}

#container div.section div.reviews a.review p.rate span.star span.on {
    float: left;
    display: block;
    height: 12px;
    background: transparent url("https://everytime.kr/images/app.subject.rating.details.star.on.png") no-repeat left top;
    background-size: 60px 12px;
}

#container div.section div.reviews a.review p.info {
    margin-bottom: 4px;
    line-height: 20px;
    font-size: 0;
}

#container div.section div.reviews a.review p.text {
    line-height: 20px;
    color: #292929;
    font-size: 14px;
    word-wrap: break-word;
}

#container div.section div.empty {
    padding: 0 0 12px 16px;
}

#container div.section div.empty p {
    line-height: 20px;
    color: #a6a6a6;
    font-size: 14px;
}