<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.board.infoboard.dao.InfoLikeMapper">

	<select id ="info_bestLikePost" resultType="InfoBoardVO">
		SELECT * FROM 
		     (SELECT * FROM 
		        (SELECT * FROM infoBoard i 
		            JOIN (SELECT post_num, COUNT(*) like_cnt 
		                FROM infoBoard_Like_Post GROUP BY post_num) lp 
		                    ON i.post_num = lp.post_num ORDER BY like_cnt DESC)
		     ORDER BY reg_date DESC)
		 WHERE ROWNUM=1
	</select>
	
</mapper> 