<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.board.freeboard.dao.FreeBoardMapper"> <!-- interface 전체 경로까지 모두 명시해야 자동매핑  -->
 <select id ="selectList" parameterType="map" resultType="freeBoardVO">

	
	SELECT
	post_num,
	mem_num,
	title,
	content,
	TO_CHAR(reg_date,'MM/DD HH24:MI') reg_date,
	TO_CHAR(modify_date,'MM/DD HH24:MI') modify_date,
	uploadfile,
	filename,
	anonymous,
	id,
	reply_cnt,
	like_cnt
	
	FROM(SELECT
		a.*,
		rownum rnum	
		FROM(
		SELECT
		f.post_num,
		f.mem_num,
		title,
		content,
		f.reg_date,
		f.modify_date,
		uploadfile,
		filename,
		anonymous,
		id,
		reply_cnt,
		like_cnt
		
			 FROM freeBoard f  
			 LEFT OUTER JOIN (SELECT COUNT(*) reply_cnt, post_num  FROM freeboard_comment GROUP BY post_num) r ON f.post_num=r.post_num
			 LEFT OUTER JOIN (SELECT COUNT(*) like_cnt, post_num FROM freeboard_like_post GROUP BY post_num)l ON f.post_num=l.post_num
			 JOIN member m ON f.mem_num=m.mem_num
			 JOIN member_detail d ON m.mem_num=d.mem_num
			  		<where>
			 		 	<if test="keyword != '' and keyfield =='title'">
			 		 		f.title LIKE '%' || #{keyword} || '%'
			 		 	</if>
			 		 	<if test="keyword != '' and keyfield =='content'">
			 		 		f.content LIKE '%' || #{keyword} || '%' 
			 		 	</if>
			 		 	<if test="keyword != '' and keyfield =='tag'">
			 		 		f.content Like '%' || #{keyword} || '%'
			 		 	</if>
			 		 	<if test="keyword != '' and keyfield =='all'">
			 		 		f.title LIKE '%' || #{keyword} || '%' or
			 		 		f.content LIKE '%' || #{keyword} || '%'
			 		 	</if>
			 		 </where>
				ORDER BY f.post_num DESC)a)

<![CDATA[
	WHERE rnum >= #{start} AND rnum <= #{end}
]]>
</select>

<select id="selectRowCount" parameterType="map" resultType="integer">
			
			SELECT
			COUNT(*)
			FROM freeboard f JOIN member m
			ON f.mem_num = m.mem_num
			<where>
			 		 	<if test="keyword != '' and keyfield =='title'">
			 		 		f.title LIKE '%' || #{keyword} || '%'
			 		 	</if>
			 		 	<if test="keyword != '' and keyfield =='content'">
			 		 		f.content LIKE '%' || #{keyword} || '%' 
			 		 	</if>
			 		 		<if test="keyword != '' and keyfield =='tag'">
			 		 		f.content Like '%' || #{keyword} || '%'
			 		 	</if>
			 		 	<if test="keyword != '' and keyfield =='all'">
			 		 		f.title LIKE '%' || #{keyword} || '%' or
			 		 		f.content LIKE '%' || #{keyword} || '%'
			 		 	</if>
			 		 </where>
</select>
<update id = "updateBoard" parameterType="freeBoardVO">
	UPDATE freeboard SET
	<if test="filename!=''">
	uploadfile=#{uploadfile},
	filename=#{filename},
	</if>
	anonymous=#{anonymous},
	title=#{title},
	content=#{content},
	modify_date=SYSDATE
	WHERE post_num=#{post_num}
</update>

<!-- <delete id = "deleteBoard" parameterType="Integer">
	DELETE FROM freeboard f JOIN freeboard_comment c using(comment_num)
	where f.post_num=#{post_num}
</delete> -->

	<!-- 최근 게시글3개 목록 -->
	<select id="freeSelectTop3PostList" resultType="freeBoardVO">
		SELECT * FROM 
			(SELECT post_num,mem_num, content, modify_date , uploadfile, filename, anonymous, title ,  ROW_NUMBER() OVER(ORDER BY post_num DESC) AS rank  
				FROM freeboard)
		<![CDATA[
		where rank<=3
		]]>	
	</select>
	
	<!-- HOT게시물 (좋아요 10개 이상받은 게시글 중 top2) -->
   <select id="free_hotPostTop2" resultType="freeBoardVO">
   SELECT * FROM 
       (SELECT title,content,TO_CHAR(reg_date,'YY/MM HH24:MI') reg_date, f.post_num FROM freeBoard f 
           JOIN (SELECT post_num, COUNT(*) like_cnt 
               FROM freeBoard_Like_Post       
                <![CDATA[
                GROUP BY post_num HAVING COUNT(*) >= 5) lp 
                ]]>
             ON f.post_num = lp.post_num ORDER BY like_cnt DESC)
        <![CDATA[
         WHERE ROWNUM<=2
         ]]>
   </select>
</mapper>