<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.board.freeboard.dao.FreeLikeMapper">
	
	<select id="free_bestLikePost" resultType="FreeBoardVO">
		SELECT * FROM 
		    (SELECT * FROM 
		        (SELECT * FROM freeBoard f 
		            JOIN (SELECT post_num, COUNT(*) like_cnt 
		                FROM freeBoard_Like_Post GROUP BY post_num) lp 
		                    ON f.post_num = lp.post_num ORDER BY like_cnt DESC)
		        ORDER BY reg_date DESC)
		 WHERE ROWNUM=1
	</select>
	
</mapper> 