<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
 <mapper namespace="kr.spring.board.freeboard.dao.ReplyMapper">
 
	<select id="selectReply" resultType="kr.spring.board.freeboard.dao.ReplyMapper">
   	SELECT *
    	 FROM (SELECT
    	 		a.*,
    	 		rownum rnum	
    	 		
    	 		FROM (SELECT *
    	 		FROM freeBoard_Comment c JOIN member m
    	 		ON c.mem_num=m.mem_num
    	 		ORDER BY c.comment_num DESC)a)
    	 		<![CDATA[
				WHERE rnum >= #{start} AND rnum <= #{end}
						]]>
</select>
</mapper>